body{
    margin:0;
    padding:0;
    background:#021b14;
    font-family:Arial, sans-serif;
    overflow:hidden;
}

.container{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
}

.logo{
    color:#00ff88;
    font-size:60px;
    text-shadow:0 0 10px #00ff88,
                 0 0 20px #00ff88,
                 0 0 40px #00ff88;
}

.tagline{
    color:white;
    margin-bottom:30px;
}

#enterBtn{
    padding:15px 40px;
    font-size:16px;
    border:2px solid #00ff88;
    background:transparent;
    color:#00ff88;
    cursor:pointer;
    transition:0.4s;
}

#enterBtn:hover{
    background:#00ff88;
    color:black;
    box-shadow:0 0 20px #00ff88;
}

/* TELEPORT TUNNEL */

#tunnel{
    position:fixed;
    top:50%;
    left:50%;
    width:10px;
    height:10px;
    background:#00ff88;
    border-radius:50%;
    transform:translate(-50%,-50%) scale(0);
    display:none;
    z-index:9999;
    box-shadow:0 0 60px #00ff88,
               inset 0 0 20px #00ff88;
}

#tunnel.expand{
    animation:tunnelZoom 0.9s forwards;
}

@keyframes tunnelZoom{
    0%{
        transform:translate(-50%,-50%) scale(0);
        opacity:1;
    }
    100%{
        transform:translate(-50%,-50%) scale(200);
        opacity:1;
    }
}
